@font-face {
    font-family: 'ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf);
}
/*Importar fontes do próprio computador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #f7eee1;
    margin: 0 auto;
    font-family: 'ubuntu';
}

header {
    background-image: url(../image/mrks_bckg.png);
    background-position: center center;
    background-size: 450px;
    background-repeat: no-repeat;
    padding: 0 15px 15px 15px;
    border-radius: 0 0 25px 25px;
    border: 1px solid gray;
}

h1 {
    text-align: center;
    font-size: 1.7rem;
    margin-top: 15px;
    margin-bottom: 15px;

}

form fieldset {
    border-radius: 10px;
    text-align: center;
}

form fieldset legend {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

form fieldset input {
    padding-left: 5px;
    width: 95%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    margin-bottom: 10px;
    float: right;
    margin-right: 7.5px;
    color: black;
    background-color: #d4d4d4;
    border: 1px solid grey;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
}

table {
    width: 90%;
    margin: 30px auto 0 auto;
}

table th {
    background-color: grey;
    color: #f7eee1;
    font-weight: 500;
}

table th, table td {
    padding: 2px 6px;
    border: 1px solid black;
    text-align: center;
    font-size: 0.85rem;
}

table td {
    font-size: 0.7rem;
}

/*
para pegar todos os primeiros elementos
table tr td:first-of-type{
    text-align: left;
}*/

table tr:nth-child(odd){
    background-color: rgb(170, 170, 170);
}